files:
  "/opt/elasticbeanstalk/tasks/restartappserver.sh":
    mode: "000755"
    owner: root
    group: root
    content: |
      #!/bin/bash
      # uploads 디렉토리 생성
      mkdir -p /var/app/current/uploads/images
      mkdir -p /var/app/current/uploads/reviewImages
      chmod -R 755 /var/app/current/uploads

commands:
  01_create_uploads:
    command: "mkdir -p /var/app/current/uploads/images /var/app/current/uploads/reviewImages"
    ignoreErrors: true

