.banner2-page {
  width: 100%;
  max-width: 100vw;
  overflow-x: hidden;
  background-color: #ffffff;
}

.banner2-page .main-banner {
  width: 100%;
  height: 600px;
  position: relative;
  overflow: hidden;
  background-color: #000000;
}

.banner2-page .banner-slider {
  position: relative;
  width: 100%;
  height: 100%;
  overflow: hidden;
}

.banner2-page .banner-slides {
  display: flex;
  width: 100%;
  height: 100%;
}

.banner2-page .banner-slide {
  position: relative;
  width: 100%;
  height: 100%;
  flex-shrink: 0;
}

.banner2-page .banner-slide img {
  width: 100%;
  height: 100%;
  object-fit: cover;
  aspect-ratio: 1920 / 600;
}

.banner2-page .popular-products {
  background-color: #ffffff;
  padding: 60px 0;
}
